{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CuPay</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

    <!-- Custom CSS -->
    {% block style %}
    {% endblock style %}
</head>

<body>
    {% block main %}
    {% endblock main %}

    <!-- Boostrap JS -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Custom JS -->
    {% block script %}
    {% endblock script %}
</body>

</html>